
body {
    padding-top: 54px;
  }
  
  @media (min-width: 992px) {
    body {
      padding-top: 56px;
    }
  }
  
  .card {
    height: 100%;
  }
  
  .navbar-brand{
    margin: right;
    padding-left: 1%;
  }
  
  .jumbotron{
    background-image: url("images/watch-bg.png");
    background-size: cover;
  }
  
  .lead{
  color:aliceblue;
  }
  
  .display-3{
  color:aliceblue;
  }
  